body{
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blackjack{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
	background: transparent;
}
.main-content{
	margin-top: 5px;
}
.name{
	margin-top: 0;
}
.table-front{
    background-color: green;
    height: 500px;
    border-radius: 10% 10% 50% 50%;
    border: 10px solid #dcdcdc;
    transform: rotateX(45deg);
	position: absolute;
	margin-top: -50px;
}
.pers1000{
    perspective: 1000px;
    /*perspective-origin: 50% 10%;*/
}
.table-back{
    height: 520px;
    border-radius: 10% 10% 50% 50%;
    border-bottom: 20px solid black;
	transform: rotateX(45deg);
	margin-top: -50px;
}
.black-jack-text{
    position: absolute;
    bottom: 260px;
    /* left:300px; */
    transform: rotateX(10deg);
	font-size: 1.3em;
	color: #7F9C47;
}
.black-jack-rule{
	position: absolute;
    bottom: 300px;
    /* left:300px; */
    transform: rotateX(10deg);
	font-size: 2em;
	color: #7F9C47;
}

.player-count, .dealer-count{
	transform: rotateX(10deg);
	font-size: 2em;
	margin-top: 20px;
	color: peachpuff;
}
.buttons{
	margin-top: 25px;
	outline: none;
}
.input-wrapper{
	padding: 0;
}
.hands{
	margin-top: 100px;
}
/* .card-1, .card-2{
	border: 1px solid black;
} */
.player-hand-wrapper, .dealer-hand-wrapper{
	margin-left: 100px;
	transform: rotateX(10deg);
	margin-top: -45px;
	/* color: white; */
}
img{
	width: 100%;
	height: 100px;
}

.card{
	padding: 0px;
	/* border: 1px solid black; */
}
/* #image{
	display: none;
} */
.row-two{
	margin-left: 30px;
	width: 31%;
}
.player-bet-wrapper{
	border: 1px solid yellowgreen;
	border-radius: 30% 30% 30% 30%;
	color: peachpuff;
}
.deck{
	position: absolute;
}
.card-image{
	position: relative;
	bottom: 61px;
}
.bet-pot-wrapper{
	font-size: 2em;
	color: #f66;
	margin-top: 100px;
	position: absolute;
	bottom: 100px;
}
.header-wrapper{
	margin: auto;
}
.row-two-buttons{
	margin-top: 15px;
}
.reset-button-wrapper{
	margin-top: 15px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
/* @keyframes move {
	from {margin: 0;}
	to{margin-top:100px;}
	to{margin-left: -100px;}
} */
.dealt1{
	animation: dealCard1 .6s;
}
.dealt2{
	animation: dealCard2 .6s;
}


.dealerDealt1{
	animation: dDealCard1 .6s;
}
.dealerDealt2{
	animation: dDealCard2 .6s;
}


@keyframes dealCard1{
	0%{transform: translate(350px,-200px)}
	100%{}
}

@keyframes dealCard2{
	0%{transform: translate(350px,-200px)}
	100%{}
}

@keyframes dDealCard1{
	0%{transform: translate(-350px, -200px)}
	100%{}
}

@keyframes dDealCard2{
	0%{transform: translate(-350px,-200px)}
	100%{}
}
